body{
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh  ;
}

.logo{
    width: 500px;
}

.logo img{
    width: 200px;
    margin-bottom: -10px;

}
.logo p{
    color: #000;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

.formBox{

    padding: 15px;
    width: 350px;
    text-align: center;
    margin-left: 60px;
    background: #fff;
    border-radius: 5px;
}
.formBox input{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 3px;
    outline: none;
}

.formBox button{
    width: 100%;
    color: #fff;
    margin-bottom: 15px;
    padding: 13px 0;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #166fe5;
}

.formBox button:hover{
    background-color: #1877f2;
}

.formBox a{
    color: #166fe5;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;

}

.formBox a:hover{
    text-decoration: underline;
}
.formBox hr{
    border: 1px solid lightblue;
    margin-bottom: 15px;
    
}

.formBox .create-btn a{
    font-size: 16px;
    color: #fff;
    background-color: #36a420;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    display: inline-block;
}
.content p{
    /* text-align: center; */
    padding: 20px 20px ;
        
}

.content p span{
    font-weight: bold;
    margin-left: 60px;
}